@use './partials/variables.scss' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

.container{
    width: 1200px;
}